<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TheStompingLandLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="thestompinglandlauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <TheStompingLandLauncher.Properties.Settings>
            <setting name="lastConnected" serializeAs="String">
                <value>127.0.0.1:7777</value>
            </setting>
            <setting name="TSLpath" serializeAs="String">
                <value>C:\Program Files (x86)\Steam\SteamApps\common\The Stomping Land</value>
            </setting>
            <setting name="ServerHistory" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="wayPoints" serializeAs="String">
                <value />
            </setting>
        </TheStompingLandLauncher.Properties.Settings>
    </userSettings>
</configuration>
